body {
  font-size: 16px;
}

.eventname {
  display: block;
  margin-bottom: 10px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.container {
  margin-bottom: 40px;
}

h1 > small {
  display: block;
  margin-bottom:10px;
}

#main_video, #video_starts_too_late, #av_delay, #talk_info, .help-text, #video_ends_too_early, #instructions, #video_state_information {
  margin-top: 20px;
}

#talk_info .dl-horizontal {
  margin-bottom: 5px;
}

.dl-horizontal dt {
  width: auto;
  padding-right: 5px;
}

.dl-horizontal dd {
  margin-left: 0;
}

#video_starts_too_early, #video_ends_too_late {
  margin-top: 20px;
  margin-bottom: 20px;
}

.btn-block + .alert {
  margin-top: 15px;
}

.hidden {
  display: none;
}

.alert_with_control {
  padding:5px 15px;
}

#video_state_information .alert + .alert-info {
  padding: 20px;
}

.audio_player {
  width: 90%;
  padding: 10px 0 20px 0;
}

.jumbotron {
  padding-top: 30px;
  padding-bottom: 30px;
}

.jumbotron h2 {
  font-size: 35px;
  margin-bottom: 40px;
}

.jumbotron ul {
  margin-bottom: 20px;
}

.jumbotron ul > li {
  font-size: 21px;
  font-weight: 200;
}

.restore_original .btn {
  margin-top: 20px;
}

.restore_original, .error_div, .video_has_problems, .other_brokennes, .info_row {
  margin-top: 20px;
}

.video_has_problems legend {
  margin-bottom: 10px;
}

#av_delay .form-inline {
  width: 40%;
}

#main_action {
  margin: 30px 0;
}

#no_audio h5 {
  margin-top: 15px;
}

.glyphicon-question-sign {
  color: #999999;
  margin-left: 3px;
}

a .glyphicon-question-sign:hover {
  color: #000000;
}
