#version {
  font-size: 0.75rem;
  color: #999999;
}

 .video-fs-container {
   position: relative;
 }

 .video-fs-container:fullscreen {
   width: 100vw;
   height: 100vh;
   background: #000;
 }

 .video-fs-container:fullscreen .embed-responsive {
   height: 100%;
   padding: 0;
 }

 .video-fs-container:fullscreen .embed-responsive::before {
   display: none;
 }

 .video-fs-container:fullscreen .video-controls-bar {
   position: fixed;
   left: 0;
   right: 0;
   bottom: 0;
   padding: 0.5rem;
   background: rgba(0, 0, 0, 0.55);
   z-index: 2;
   display: block;
 }

 .video-fs-container:fullscreen .video-current-time {
   color: #fff;
   text-shadow: 0 0 2px rgba(0, 0, 0, 0.9);
 }

 .video-fs-container:fullscreen video {
   width: 100%;
   height: 100%;
 }

 .video-controls-bar {
   display: inline-block;
   box-sizing: border-box;
 }

 .video-controls-row-top {
   gap: 0.5rem;
   column-gap: 0.5rem;
   justify-content: flex-start;
   width: 100%;
 }

 .video-fs-container:fullscreen .video-controls-row-top {
   width: 100%;
   justify-content: flex-start;
 }

 .video-controls-row-bottom {
   width: fit-content;
   margin-left: auto;
   margin-right: auto;
 }

 .video-controls-row-top {
   margin-left: auto;
   margin-right: auto;
 }

 .video-current-time {
   font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
   margin-left: 0.5rem;
   min-width: 5.5rem;
   text-align: right;
 }

 .video-controls-row-top .video-current-time {
   margin-left: auto;
 }

 .video-fullscreen {
   margin-left: 0.5rem;
 }

 .video-seek-slider {
   flex: 1 1 auto;
   min-width: 6rem;
   width: 0;
 }

 .video-fs-container:fullscreen .video-seek-slider {
   min-width: 0;
 }
