#!/usr/bin/make -f

%:
	dh $@ --with apache2

override_dh_install:
	chmod +x debian/sreview-master.install debian/sreview-master.dbc
	dh_install

override_dh_installsystemd:
	dh_installsystemd -psreview-master --name=sreview-dispatch
	dh_installsystemd --remaining-packages
