[Unit]
Description=SReview web service
[Service]
ExecStart=/usr/bin/hypnotoad -f /usr/bin/sreview-web
ExecStop=/usr/bin/hypnotoad -s /usr/bin/sreview-web
[Install]
WantedBy=multi-user.target
